extends layout

block content
  .page-header
    h1 Contact information
  p.lead The fastest and most reliable way to contact me is via email at <a href='mailto:thisita@outlook.com'>thisita@outlook.com</a>.
  p I can also provide resumes and other more official documents on request. Since they contain information I refrain from just passing out en masse, these documents will remain an on request item.