extends layout

block content
  .page-header
    .jumbotron
      .row
        .col-md-4
          a.thumbnail(href='/images/profile.png')
            img(src='/images/profile.png', alt='...')
        .col-md-7
          h1
            | Ian Zachary Ledrick <small>aka Thisita</small>
          blockquote
            p
              | My raison d'être is tinkering and trying to build new things. If something is broken I am absolutely driven to fix it. If something is inefficient I am driven to rebuild it. If there is a need not being filled, I will ruthlessly analyse the hole to cleanly fill it.
  p.lead If I were to describe myself in but a few words they would be builder and tinkerer. I have spent my life tinkering with all sorts of technology. I had the luxury of having computer experience at a young age, even starting developing in x86 assembly at age ten. I've built computers, networks, software, and hardware through the years and rebuilt all those with the addition of cars, guitars, and about anything one can touch.
  h2 Education
  p I am a student at the University of Louisville: J.B. Speed School of Engineering pursuing a B.S. in Computer Engineering and Computer Science with graduation date of May 2014. I will be completing my degree with a year of co-op experience in the field for which I can supply work reports on request. My research during my University career has concentrated on large data processing, visualization, web-application development, parallel processing, forensics, and analytic engines with an implementation focus on user-driven analysis and usage.
  h2 Hobbies
  p I have three black belts. I spent eight years in martial arts, four of which as an instructor. I've led classes more than 30 students of all ages, worked with law enforcement, and took part in cage-ready training. I also had my own class for a time, and have worked one-on-one with students.
  p In my spare time I enjoy playing guitar which I own five of. I also enjoy exploring new places, visiting historical sites, casual hiking, watching let's plays, and reading the works of H.P. Lovecraft. That being said, my raison d'&ecirc;tre is tinkering and trying to build new things. If something is broken I am absolutely driven to fix it. If something is inefficient I am driven to rebuild it. If there is a need not being filled, I will ruthlessly analyse the hole to cleanly fill it. I make things work and can innovatively combine sparse systems to solve problems. I am driven by mission impact.
  h2 Personality
  p I am fairly strongly INTJ typed. I have a moderate preference of Introversion, but I have no problem taking a leadership role involving many people or communicating. In fact, I have the ability to bridge in communication between technical audiences and business oriented audiences effectively, but I will become drained if I cater the massively social or crowded events for days on end. I have a distinctive preference of intuition in attempting to understand anything. This also makes me extremely aware of what I do and do not know at any given time. I show small preference towards feeling versus thinking, as I intuitively weigh both for any situation to make decisions. I show moderate preference of judging, as I derive my sense of worldly understanding and control through its predictability.
