doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Portfolio website for Ian Zachary Ledrick')
    meta(name='author', content='Ian Zachary Ledrick')
    link(rel='shortcut icon', href='/favicon.png')
    title= pageTitle
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/default.css', rel='stylesheet')
  body
    #wrap
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/index.html') Ian Zachary Ledrick aka Thisita
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li
              a(href='/index.html') Home
            li
              a(href='/development.html') Development
            li
              a(href='/security.html') Security
            li
              a(href='/contact.html') Contact
          ul.nav.navbar-nav.navbar-right
            li
              a(href="https://twitter.com/ista_thisita")
                img(src='/images/twitter-bird.png', alt='Twitter')
            li
              a(href="https://www.youtube.com/user/istathisita")
                img(src='/images/youtube.png', alt='YouTube')
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Projects
                b.caret
              ul.dropdown-menu
                li
                  a(href='http://server.thisita.net/') This site
                li
                  a(href='http://blog.thisita.net/') Blog
                li.dropdown-header Windows Phone Apps
                li
                  a(href='http://windowsphone.thisita.net/randomapp.html') Random App
                li
                  a(href='http://windowsphone.thisita.net/minimalcounter.html') Minimal Counter
                li.dropdown-header Outside projects
                li
                  a(href='http://thisita.users.sourceforge.net/') Discontinued SourceForge projects
      .container
        block content
    #footer
      .container
        p.text-muted
          | &copy 2014 All Rights Reserved Ian Zachary Ledrick
          span.pull-right
            | Site version
            = ' ' + siteVersion
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/bootstrap.min.js')
