extends layout

block content
  .page-header
    h1 Security Experience
  p.lead I have spent many years testing the security of software applications, networks, databases, and other forms of technology. I have used this knowledge to gain a firm understanding of how I should be designing infrastructure and interfaces while also being why I push strongly typed and maintainable code.
  h2 Reverse Code Engineering
  p I have over eight years experience in reverse engineering software. This experience spans more than ten source languages, multiple architectures, and working with software such as OllyDebug and IDA Pro.
  p Through the years I have successfully analysed malware, typical software, packed software, and encrypted software. Some project sources have been from automatic vehicle Engine Control Units and other embedded systems. I also love a good crackme to solve.
  p My research includes live debugging and manipulation of software and emulated software (such as CLR and JRE). Some skills in this arena include anti-debugger evasion, IAT fixing, unpacking, and source reconstruction. I've analysed many binary protection systems.