extends layout

block content
  .page-header
    h1
      | ThisitaNet Public Research and Development Web Server
  p.lead
    | Yep, that is the server you are talking to right now. This project has moved from multiple operating systems, devices, locations, and frameworks. It is a constant development project to help keep myself updated with new languages, technologies, and hardware capabilities.
  h2 Current Status
  p
    | The project is still using the NodeJs framework to deliver content, but is no longer being hosted on my Raspberry Pi. The RPi is just not good at servicing web requests and massive amounts of scripting that Node demands (because 15 seconds to fulfil a LAN request is ridiculous).
  p
    | So just where did the hosting go? To my standard rig running Hyper-V which has plenty of compute, memory, networking, and of course lots of pretty blue LEDs. It is sporting Debian Wheezy on kernel 3.2 ala x64, as the OS for this node.